$color_1: darkcyan;
$color_2: white;
$color_3: antiquewhite;
$font-family_1: 'Tangerine', cursive;
$background-color_1: bisque;
$background-color_2: #2C8D95;
$background-color_3: #93C7BA;
$background-color_4: rgb(198, 242, 255);